@{
    ViewBag.Title = "PickCheck";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div id="grid"></div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/warehouseOrder/pickCheck.js")" type="text/javascript"></script>
}
