@{
    ViewBag.Title = "芙蓉兴盛ERP管理系统";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" class="toolDIV" style="height: 28px">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td style="text-align: left; padding-left: 2px; width: 195px">
                    <select id="searchType" style="width: 190px" class="easyui-select">
                        <option value="SKU">按编码查询</option>
                        <option value="ProductName">按名称查询</option>
                        <option value="BarCode">按条码查询</option>
                    </select>
                </td>
                <td style="text-align: left; padding-left: 2px; width: 400px">
                    <input id="searchKey" type="text" style="width: 400px">
                </td>
                <td style="padding-left: 2px; text-align: left">
                    <a id="aSearch" href="javascript:void(0)" class=" l-btn " style="padding: 4px 15px">查询</a>
                    @*<a href="javascript:void(0)" class=" l-btn" style="padding: 4px 15px">过滤</a>*@
                </td>
            </tr>
        </table>
    </div>
    <div data-options="region:'east',split:true" style="width: 50%; padding: 3px">
        <div  id="sub_datagrid">
        </div>
    </div>
    <div data-options="region:'center'" style="padding: 3px">
        <div id="main_datagrid">
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/wProductAdjShelf/adjShelfProduct.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bussiness/wProductAdjShelf/datagridcopy.js")" type="text/javascript"></script>
}