<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unityDB" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unityDB xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--示例
    <namespace name="Frxs.ExternalAPI.My.IDAL"/>
    <assembly name="Frxs.ExternalAPI.My.IDAL"/>
    <namespace name="Frxs.ExternalAPI.My.MSSQLDAL"/>
    <assembly name="Frxs.ExternalAPI.My.MSSQLDAL"/>
    <alias alias="IBusinessCircleDAL" type="IBusinessCircleDAL,Frxs.ExternalAPI.My.IDAL" />
    <alias alias="BusinessCircleDAL" type="BusinessCircleDAL, Frxs.ExternalAPI.My.MSSQLDAL" />
    -->

    <!--示例
    <container name="sqlServerContainer">
      <register type="IBusinessCircleDAL" mapTo="BusinessCircleDAL" />
    </container>
    -->
  </unityDB>
</configuration>
