<?xml version="1.0"?>
<configuration>
  <Pages>
    <Page name="SalesConsignmentSummarizeList">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO" advancedSearchRow="1">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ConsignmentNo" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="BuyName" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellName" controlType="text" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="WorkflowStatusName" name="WorkflowStatus" controlType="select" getDataKey="GetCommonCodeByTypeCode" param="WORKFLOW_STATUS_ID" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="NodeName" controlType="select" getDataKey="GetApproveNodes" param="WFSalesConsignment,WFAgentSalesConsignment,WFSalesExchange" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="PaymentTypeName" name="PaymentType" controlType="select" getDataKey="GetCommonCodeByTypeCode" param="PAYMENT_TYPE_ID" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellTypeName" name="SellType" controlType="select" getDataKey="GetCommonCodeByTypeCode" param="SALE_TYPE" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="CreateDate" name="StartDate" controlType="date" htmlAttr="id='StartDate' onfocus = &quot;WdatePicker({dateFmt:'yyyy-M-d'})&quot;" unionText="-" />
            <SearchControl propertyInfoName="CreateDate" name="EndDate" controlType="date" htmlAttr="id='EndDate' onfocus = &quot;WdatePicker({dateFmt:'yyyy-M-d',minDate:'#F{$dp.$D(\'StartDate\')}'})&quot;" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="VenderName" controlType="select" htmlAttr="multiple='multiple'" getDataKey="GetOrgsByCurrUser" param="Consignment_Pandect_Cust" />
          </Column>
        </Row>
      </SearchControls>
      <!--
        此处配置文件基本与普通查询页面配置相同，区别如下：
        ChildTable节点为Table节点的子表，非必需节点
        childTableName属性为Table节点配置的子表格名称，必须与ChildTable节点的name属性值相同，必需属性
        rowClick属性为行单击事件，值必须为getDetail(this)，如果有子表，则为必需属性
        另请注意：点击父行时调用子表查询时，目前只支持服务端接收一个参数名为id的参数，参数值即为父表格中第一个隐藏域的值
      -->
      <Tables>
        <Table name="tblConsignment" desc="客户销售发货" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO" queryUrl="../SalesConsignment/GetPageList" childTableName="tblConsignmentProductList" rowClick="getDetail(this);">
          <Fields key="ConsignmentId">ConsignmentNo,SellTypeName,WorkflowStatusName,VenderName,BuyName,BuyName,PaymentTypeName,OperName,CreatorName,SellName,SellTel,CreateDate,UpdateDate</Fields>
          <OrderFields>UpdateDate</OrderFields>
          <HiddenFields>ConsignmentId</HiddenFields>
          <Action>
            <View linkTitle="查看客户销售发货" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesConsignment/ConsignmentEdit?id={0}" />
            <Edit linkTitle="修改客户销售发货" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesConsignment/ConsignmentShow?id={0}" />
          </Action>
          <ChildTable name="tblConsignmentProductList" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentProductListDTO" queryUrl="../Summarize/GetSalesConsignmentPorductList">
            <Fields key="LIST_ID">ProductName,ProductTypeName,DmsSalesOrderNo,SapOrderNo,NewSapOrderNo,SapConsignmentNo,EquipmentId</Fields>
            <OrderFields>ProductName,ProductTypeName</OrderFields>
          </ChildTable>
        </Table>
        <Table name="tblAgentConsignment" desc="代理商采购发货" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesAgentConsignmentInfoDTO" queryUrl="../SalesAgentConsignment/GetPageList">
          <Fields key="ConsignmentId">ConsignmentNo,SellTypeName,WorkflowStatusName,FirstDealerName,BuyName,TerminalName,PaymentTypeName,OperName,CreatorName,SellName,SellTel,CreateDate,UpdateDate</Fields>
          <OrderFields>UpdateDate</OrderFields>
          <HiddenFields>ConsignmentId</HiddenFields>
          <Action>
            <View linkTitle="查看代理商采购发货" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesConsignment/AgentConsignmentEdit?id={0}" />
            <Edit linkTitle="修改代理商采购发货" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesConsignment/AgentConsignmentShow?id={0}" />
          </Action>
        </Table>
      </Tables>
    </Page>
    <Page name="SalesAgentsPaymentSplit" desc="代理商货款拆分">
      <OperateControls>
        <OperateControl id="aSplitPayment" text="拆分货款" authCode="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT_SPLIT_PAYMENT" htmlAttr="onclick=&quot;javascript:operDifferent('货款'); &quot;" />
        <OperateControl id="aSplitFee" text="拆分费用" authCode="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT_SPLIT_FEE" htmlAttr="onclick=&quot;javascript:operDifferent('费用');  &quot;" />
        <OperateControl id="aUnlock" text="解除锁定" authCode="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT_SPLIT_PAYMENT_UNLOCK" htmlAttr="onclick=&quot;javascript:unlock();  &quot;" />
      </OperateControls>
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO" advancedSearchRow="1">
        <Row>
          <Column>
            <SearchControl propertyInfoName="IntentNo" controlType="text" desc="销售意向单号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="BuyName" controlType="text" desc="终端客户" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellName" controlType="text" desc="营销代表" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="UserOrgId" controlType="select" htmlAttr="multiple='multiple'" getDataKey="GetOrgsByCurrUser" param="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT" desc="代理商" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="ProductName" name="Product" controlType="select" getDataKey="GetListGroupByProductType" desc="产品" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="ProductTypeName" name="ProductType" controlType="select" desc="型号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="EquipmentId" controlType="text" desc="设备编号" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="CreateDate" name="StartDate" controlType="date" htmlAttr="id='StartDate' onfocus = &quot;WdatePicker({dateFmt:'yyyy-M-d'})&quot;" unionText="-" desc="申请日期" />
            <SearchControl propertyInfoName="CreateDate" name="EndDate" controlType="date" htmlAttr="id='EndDate' onfocus = &quot;WdatePicker({dateFmt:'yyyy-M-d',minDate:'#F{$dp.$D(\'StartDate\')}'})&quot;" desc="申请日期" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="NewSapOrderNo" controlType="text" desc="SAP订单号" />
          </Column>
          <Column>
            <SearchControl name="SplitPayment" displayTitle="拆分货款" controlType="select" />
          </Column>
          <Column>
            <SearchControl name="SplitFee" displayTitle="拆分费用" controlType="select" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblConsignment" desc="代理商货款拆分" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO" queryUrl="../SalesConsignment/GetPageListByAgentsSplit" childTableName="tblConsignmentProductList" rowClick="getDetail(this);">
          <Fields key="ConsignmentId">IntentNo,WorkflowStatusName,SellTypeName,PaymentTypeName,SellName,BuyName,CreateDate1,UpdateDate1,OrgName</Fields>
          <OrderFields>IntentNo,PaymentTypeName,SellName,BuyName,CreateDate1,UpdateDate1,OrgName</OrderFields>
          <HiddenFields>ConsignmentId</HiddenFields>
          <ChildTable name="tblConsignmentProductList" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentProductListDTO" queryUrl="../SalesConsignment/GetProductPageListByAgentsSplit"  isSingleSelect="false">
            <Fields key="ListId">ProductName,ProductTypeName,UnitMoney,NewSapOrderNo,SapConsignmentNo,EquipmentId,SplitPayment,SplitFee</Fields>
            <OrderFields>ProductName,ProductTypeName</OrderFields>
            <HiddenFields>ListId,SplitId</HiddenFields>
            <Action>
              <View linkTitle="查看代理商货款拆分" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesAgentsPaymentSplit/SplitView?listIds={0}&amp;spType=" authCode="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT_SPLIT_PAYMENT_VIEW" />
              <Edit linkTitle="修改代理商货款拆分" value="/SANY.DMS.Group.WebUIMVC4/Group/SalesAgentsPaymentSplit/SplitAddOrEdit?listIds={0}&amp;spType=" authCode="AUTH_FUNC_SALES_AGENTS_PAYMENT_SPLIT_SPLIT_PAYMENT_EDIT" />
            </Action>
          </ChildTable>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
          $(function(){
            //判断拆分费用按钮是否存在
            $("table[name='tblSearch']").parent("form").append("<input type='hidden' id='hidIsSplitFee' name='hidIsSplitFee' value='"+($("#aSplitFee").length==0?0:1)+"' />");
            
            $("select[name='Product']").change(function(){
              $.ajax({
                url:"../SalesAgentsPaymentSplit/GetProductTypeByProductId",
                data:{productId:$(this).val()},
                success:function(result){
                  var arr = str2Json(result);
                  var productType=$("select[name='ProductType']");
                  productType.children("option").remove();
                  productType.append("<option value=''></option>");
                  for(var i=0;i<arr.length;i++){
                    productType.append("<option value='"+arr[i].ProductTypeId+"'>"+arr[i].ProductTypeName+"</option>");
                  }
                }
              });
            });
            $("select[name='SplitPayment']").append("<option value='0'>未完成</option><option value='1'>已完成</option>");
            $("select[name='SplitFee']").append("<option value='0'>未完成</option><option value='1'>已完成</option>");;
          });
          //操作不同设备提示
          function operDifferent(title){
            var arr=new Array();
            var index=0;
            var isSelected=false;
            var listIds="";
            $("table[name='tblConsignment']").find("table[name='tblConsignmentProductList']").children("tbody").children("tr").each(function(){
              if($(this).children("td:first").find("input:checked").length>0){
                listIds+=($(this).children("td:first").find("input[type='hidden']:first").val()+" ");
                var productName=$(this).children("td:eq(1)").text();
                var productTypeName=$(this).children("td:eq(2)").text();
                arr[index]=(productName+productTypeName).replace(/\s+/g,"");
                index++;
                isSelected=true;
              }
            });
            if(isSelected){
              //判断数组中是否存在不同元素
              var isDifferent=isNonUnique(arr);
              if(!isDifferent){
                alert("不得同时拆分不同型号的设备，请修正");
              }else{
                parent.addTab('新建拆分'+title,'/SANY.DMS.Group.WebUIMVC4/Group/SalesAgentsPaymentSplit/SplitAddOrEdit?listIds='+listIds+'&spType='+title,false,'新建拆分'+title);
              }
            }else{
              alert("请选择拆分设备");
            }
          }
          //子表数据绑定后处理函数 注意：此函数名称固定
          function afterChildTableDataBind(){
            //判断拆分费用按钮是否存在
            var isSplitPayment=($("#aSplitFee").length==0);
            $("table[name='tblConsignment']").find("table[name='tblConsignmentProductList']").children("tbody").children("tr").each(function(){
              var lastTd=$(this).children("td:last");
              var viewLink=lastTd.find("a:first");
              var editLink=lastTd.find("a:last");
              //判断是否已经完成拆分货款
              if(isSplitPayment){
                viewLink.attr("onclick",viewLink.attr("onclick").replace("spType=","spType=货款"));
                //判断货款拆分状态
                var isCanSplitPayment=($(this).children("td:eq(7)").text()=="未完成");
                if(isCanSplitPayment){
                  editLink.removeAttr("disabled");
                  editLink.attr("onclick",editLink.attr("onclick").replace("spType=","spType=货款"));
                }else{
                  //解锁时需显示复选框
                  if($("#aUnlock").length==0){
                    $(this).children("td:first").find("input[type='checkbox']").remove();
                  }
                }
              }else{
                viewLink.attr("onclick",viewLink.attr("onclick").replace("spType=","spType=费用"));
                var isCanSplitFee=($(this).children("td:eq(8)").text()=="未完成");
                if(isCanSplitFee){
                  editLink.removeAttr("disabled");
                  editLink.attr("onclick",editLink.attr("onclick").replace("spType=","spType=费用"));
                }else{
                  $(this).children("td:first").find("input[type='checkbox']").remove();
                }
              }
            });
          }
          //解除货款拆分锁定
          function unlock(){
            var listIds="";
            $("table[name='tblConsignment']").find("table[name='tblConsignmentProductList']").children("tbody").children("tr").each(function(){
              if($(this).children("td:first").find("input:checked").length>0){
                listIds+=($(this).children("td:first").find("input[type='hidden']:last").val()+" ");
              }
            });
            if(listIds.Trim()==""){
              alert("请选择设备");
            }else{
              if(confirm("确认解除所选设备锁定？")){
                $.ajax({
                  url:"../SalesAgentsPaymentSplit/Unlock",
                  data:{splitIds:listIds},
                  success:function(result){
                    var msg=str2Json(result);
                    alert(msg.info);
                    tblConsignmentList.Search(this);
                  }
                });
              }
            }
          }
          </script>
        ]]>
      </Script>
    </Page>
    
    <Page name="NMCustomerList" desc="关联人信息查询">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.NmCustomerDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="CustomerName" controlType="text" desc="客户名称" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="IdNo" controlType="text" desc="证件号码" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="AgentId" controlType="select" htmlAttr="multiple='multiple'" desc="代理商" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="CusCharacterId" controlType="select" getDataKey="GetCusCharacter"  desc="客户性质" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LawDesc" getDataKey="GetCommonCodesByTypeCode" controlType="select" desc="与三一诉讼记录" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="OrderDesc"  getDataKey="GetCommonCodesByTypeCode" controlType="select" desc="与三一成交历史" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="OverdueDesc" getDataKey="GetCommonCodesByTypeCode" controlType="select" desc="与三一逾期记录" />
          </Column>
        </Row>
      
      </SearchControls>
      <Tables>
        <Table name="tblCustomerList" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.NmCustomerDTO" queryUrl="../CustCredit/GetPageList" childTableName="tblCustomerInfo" rowClick="getDetail(this);">
          <Fields key="CustomerId">CustomerName,CusCharacterName,IdNo,SapFcusFid,SapCusId,IsOverdueStr,IsOrderStr,IsLawStr</Fields>
          <OrderFields>CustomerName,CusCharacterName,IdNo,SapFcusFid,SapCusId,IsOverdueStr,IsOrderStr,IsLawStr</OrderFields>
          <HiddenFields>CustomerId,SaleCusId,CusCharacterName</HiddenFields>
          <ChildTable name="tblCustomerInfo" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.NmCustomerDTO" queryUrl="../CustCredit/GetSearchRefCusList"  isSingleSelect="false">
            <Fields key="CutomerId">CusPropName,CusCharacterName,CusFkindName,CustomerName,CusRelateName,ContactTel,IdNo,HistorySaleintent,OverdueDesc,LawDesc,HistorySalesend</Fields> 
            <OrderFields>CusPropName,CusCharacterName,CusFkindName,CustomerName,CusRelateName,ContactTel,IdNo,HistorySaleintent,OverdueDesc,LawDesc,HistorySalesend</OrderFields>
            <HiddenFields>CustomerId</HiddenFields>            
          </ChildTable>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
            function afterTableDataBind(){
              $("table[name='tblCustomerList']").children("tbody").children("tr").each(function(){
                var customerId=$(this).find("input[type='hidden'][name='hidSaleCusId']").val();
                var cusCharacterName=$(this).find("input[type='hidden'][name='hidCusCharacterName']").val();
                var url=viewJudge(cusCharacterName,customerId);
                $(this).children("td:last").find("a:first").click(function(){
                  parent.addTab('查看'+cusCharacterName, url, false,'view_'+customerId);
                });
              });
            }
          
           function viewJudge(cusPropertyName, cusID) {
            var url = "";
            if (cusPropertyName == "自然人") {
                url = "/SANY.DMS.Group.WebUIMVC4/Group/SalesCustManager/CustomerViewNatural?OperatorID=query&CusId=" + cusID;
            }
            else if (cusPropertyName == "法人") {
                url = "/SANY.DMS.Group.WebUIMVC4/Group/SalesCustManager/CustomerViewLegal?OperatorID=query&CusId=" + cusID;
            }
          return url;
        }
          </script>
        ]]>
      </Script>
    </Page>
  </Pages>
</configuration>
