<?xml version="1.0"?>
<configuration>
  <Pages>
    <Page name="SelectShop" title="选择门店">
      <SearchControls assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.ShopSearchModel" advancedSearchRow="3">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ShopCode" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="ShopName" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="ShopAccount" controlType="text" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="Status" controlType="select"  getDataKey="GetShopStatus" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LinkMan" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LineID" controlType="select"  getDataKey="GetWarehouseLine" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblShop" assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.ShopListModel" queryUrl="../Shop/GetShopList" columnDisplayLength="20" rowDbClickFun="rowDbClick" isSingleSelect="false">
          <Fields key="ShopID">ShopCode,ShopName,LineName,FullAddress</Fields>
          <HiddenFields>ShopID,ShopCode,ShopName,LineName,FullAddress</HiddenFields>
          <Width>100px,150px,100px,100px</Width>
          <OrderFields></OrderFields>
        </Table>
      </Tables>
    </Page>

    <Page name="VendorList" title="供应商列表" pageAuth="29">
      <SearchControls assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.Vendor" advancedSearchRow="1">
        <Row>
          <Column>
            <SearchControl propertyInfoName="VendorCode" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="VendorName" controlType="text" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblVendorList" assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.Vendor" queryUrl="../BuyOrderPre/GetVendorInfo" isSingleSelect="false" columnDisplayLength="20"  rowDbClickFun="rowDbClick" isFreezeHeader="true">
          <Fields key="VendorID">VendorCode,VendorName,VendorID</Fields>
          <HiddenFields>VendorID,VendorCode,VendorName</HiddenFields>
          <Width>100px,280px,100px</Width>
          <OrderFields></OrderFields>
        </Table>
      </Tables>
      <!--<Script>
        <![CDATA[          
            <script type="text/javascript" src="../Scripts/bussiness/WarehouseEmp/WarehouseEmpList.js"></script>     
        ]]>
      </Script>-->
    </Page>
    
    <Page name="WarehouseEmpList" title="订单采购人员列表" pageAuth="29">
      <SearchControls assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.WarehouseEmpModel" advancedSearchRow="1">
        <Row>
          <Column>
            <SearchControl propertyInfoName="EmpName" controlType="text"/>
          </Column>
          <!--<Column>
            <SearchControl propertyInfoName="UserMobile" controlType="text" />
          </Column>-->
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblWarehouseEmp" assemblyName="Frxs.Erp.WarehouseManagementSystem.WebUI" typeName="Frxs.Erp.WarehouseManagementSystem.WebUI.Models.WarehouseEmpModel" queryUrl="../BuyOrderPre/GetBuyEmpInfo" isSingleSelect="false" columnDisplayLength="20"  rowDbClickFun="rowDbClick">
          <Fields key="EmpID">WName,EmpName,UserMobile,UserTypeStr,StatusStr</Fields>
          <HiddenFields>EmpID,EmpName,IsFrozen</HiddenFields>
          <Width>100px,280px,100px,150px,150px</Width>
          <OrderFields></OrderFields>
        </Table>
      </Tables>
      <!--<Script>
        <![CDATA[          
            <script type="text/javascript" src="../Scripts/bussiness/WarehouseEmp/WarehouseEmpList.js"></script>     
        ]]>
      </Script>-->
    </Page>
    <Page name="SalesConsignmentList">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="BuyName" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellId" controlType="select" getDataKey="GetOrgStaffsByCurrUser" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblConsignment" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.Trade.SalesConsignmentInfoDTO" queryUrl="../../Group/SalesConsignment/GetPageList?queryType=intent&amp;selPaymentTypeId=G00101" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ApplyId">SellName,BuyName,CreateDate,PaymentTypeName</Fields>
          <OrderFields>SellName,BuyName,CreateDate,PaymentTypeName</OrderFields>
          <HiddenFields>ConsignmentId,ConsignmentNo,IntentId,PaymentTypeId,CusStarLevelName</HiddenFields>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
            function rowCilck(obj){
              $(obj).find(":radio").attr("checked", "checked");
              if ($(obj).find("input[type='hidden'][name='hidPaymentTypeId']").val() == $("#hidPaymentConst").val()) {
                $("#hidCusPayment").val($("#hidPaymentConst").val());
              }
            }
          </script>
        ]]>
      </Script>
    </Page>

    <Page name="FinanceAccountBodyList" desc="主体">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.Basic.NmAccountBodyRefDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="BodyType" controlType="select" getDataKey="GetAccountBody" param="BODY_TYPE" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblAccountBody" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO" queryUrl="../../Group/FinanceBasic/GetAccountPageList" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ApplyId">SellName,BuyName,CreateDate,PaymentTypeName</Fields>
          <OrderFields>SellName,BuyName,CreateDate,PaymentTypeName</OrderFields>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
            function rowCilck(obj){
              $(obj).find(":radio").attr("checked", "checked");
              if ($(obj).find("input[type='hidden'][name='hidPaymentTypeId']").val() == $("#hidPaymentConst").val()) {
                $("#hidCusPayment").val($("#hidPaymentConst").val());
              }
            }
          </script>
        ]]>
      </Script>
    </Page>

    <Page name="SelectContractListByPurrtn" desc="回购申请选择融资合同">
      <SearchControls assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ContractNo" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LenderName" controlType="text" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblContract" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO" queryUrl="../../Group/FinanceAfterLoan/GetContractPageList?type=purrtn" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ContractId">ContractNo,FproductName,LenderName,LenderIdno,ProvinceName,PeriodBankName,PeriodSubbankName,SubbankAddress,PeriodAcctNo,TotalExceedNum</Fields>
          <OrderFields>ContractNo,FproductName,LenderName,LenderIdno,ProvinceName,PeriodBankName,PeriodSubbankName,PeriodAcctNo,TotalExceedNum</OrderFields>
          <HiddenFields>ContractId,PeriodBankCode,PeriodSubbankCode,TotalPlusAmt,CurPlusAmt,TotalExceedNum,CurExceedAmt</HiddenFields>
        </Table>
      </Tables>
    </Page>
    <Page name="SelectContractListByClose" desc="结清申请选择融资合同">
      <SearchControls assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ContractNo" controlType="text" desc="合同编号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LenderName" controlType="text" desc="客户" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellTypeName" name="SellType" controlType="select" getDataKey="GetCommonCodeByTypeCode" param="SELL_TYPE" desc="销售类型" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="PaymentTypeName" name="PaymentType" controlType="select" getDataKey="GetCommonCodeByTypeCode" param="PAYMENT_TYPE_ID" desc="付款方式" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblContract" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO" queryUrl="../../Group/FinanceAfterLoan/GetContractPageList?type=close" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ContractId">ContractNo,FproductName,IntantNo,BuyerName,LenderName,PeriodBankName,PeriodSubbankName,PeriodBeginDateStr,PeriodEndDateStr,PeriodNum,PeriodCalTypeName,FirstAmt,PeriodAmt,SumFee,CurrencyCode,PeriodAcctNo,ContractAmt,TotalPlusAmt</Fields>
          <OrderFields>ContractNo,FproductName,IntantNo,BuyerName,LenderName,PeriodBankName,PeriodSubbankName,PeriodBeginDateStr,PeriodEndDateStr,PeriodNum,PeriodCalTypeName,FirstAmt,PeriodAmt,SumFee,CurrencyCode,PeriodAcctNo</OrderFields>
          <HiddenFields>ContractId,PeriodBankCode,PeriodSubbankCode,PaymentTypeId</HiddenFields>
        </Table>
      </Tables>
    </Page>
    <Page name="SelectContractListByRVWF" desc="垫付申请选择融资合同">
      <SearchControls assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ContractNo" controlType="text" desc="合同编号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LenderName" controlType="text" desc="客户" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblContract" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO" queryUrl="../../Group/FinanceAfterLoan/GetContractPageList?type=rvwf" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ContractId">ContractNo,FproductName,CompanyOrgName,MathineOrgName,SalerOrgName,LenderName,LenderIdno,ProvinceName,PeriodBankName,PeriodSubbankName,SubbankAddress,PeriodAcctNo,CurPlusAmt,TotalExceedAmt,TotalExceedNum</Fields>
          <OrderFields>ContractNo,FproductName</OrderFields>
          <HiddenFields>ContractId</HiddenFields>
        </Table>
      </Tables>
    </Page>
    <Page name="SelectFundsPlan" desc="选择资金计划">
      <SearchControls assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.AfterLoan.Zfit0018DTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="FundsPlanType" displayTitle="类型" controlType="select" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjhbh" controlType="text" desc="编号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjhzt" controlType="text" desc="状态" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="Zzjjhdw" controlType="text" desc="编制单位" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjhdwms" controlType="text" desc="编制单位描述" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjhxm" controlType="text" desc="项目" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjhxmms" controlType="text" desc="项目描述" />
          </Column>
        </Row>
        <Row>
          <Column>
            <SearchControl propertyInfoName="Zzjjydwbh" controlType="text" desc="交易单位编号" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjjydwms" controlType="text" desc="交易单位描述" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="Zzjfksy" controlType="text" desc="收付款事由" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblFundsPlan" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.AfterLoan.Zfit0018DTO" queryUrl="../../Group/FinanceAfterLoan/GetFundsPlanPageList" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="Zfit0018Id">Zzjjhbh,Zzjjhny,Zzjjhje,Zzjfksy,Zzjjhzt,Zzjjhdw,Zzjjhdwms,Zzjjhxm,Zzjjhxmms,Zzjjydwbh,Zzjjydwms</Fields>
          <OrderFields>Zzjjhbh,Zzjjhny,Zzjjhje,Zzjfksy,Zzjjhzt,Zzjjhdw,Zzjjhdwms,Zzjjhxm,Zzjjhxmms,Zzjjydwbh,Zzjjydwms</OrderFields>
          <HiddenFields>Zfit0018Id</HiddenFields>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
          $(function(){
            $("select[name='FundsPlanType']").append("<option value='S'>正常</option><option value='N'>内部交易</option><option value='T'>特批</option><option value='Q'>Q类型</option>");
          });
          
          function rowCilck(obj){
            $(obj).find(":radio").attr("checked", "checked");
          }
          </script>
        ]]>
      </Script>
    </Page>
    <Page name="FinanceGetLenderInfor" desc="获取借款人/承租人">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.SalesCreditDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="CusName" controlType="text" desc="用户名" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblLenderInfor" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.SalesCreditDTO" queryUrl="../../Group/FinanceMidLoan/GetLenderInforList" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="CreditId">CusId,CusName</Fields>
          <OrderFields>CusName</OrderFields>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
          $(function(){
              window.document.onkeydown = SubmitOrHidden;
          });
          //这个就是键盘触发的函数
	        var SubmitOrHidden = function(evt){
    	        evt = window.event || evt;
    	        if (evt.keyCode == 13) {
                   return false;
            	    }	                 
	         }
           
            function rowCilck(obj){
              $(obj).find(":radio").attr("checked", "checked");
            }
          </script>
        ]]>
      </Script>
    </Page>

    <Page name="OrderInfoAfterOutStock" desc="获取已经生成SAP过账的销售订单">
      <SearchControls assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.SalesSellorderInfoDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="OrderTypeId" controlType="select" getDataKey="GetOrderType" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="OrderNo" controlType="text"/>
          </Column>
          <Column>
            <SearchControl propertyInfoName="SellName" controlType="text"/>
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblOrderInfo" assemblyName="SANY.DMS.Group.Sales.BizModel" typeName="SANY.DMS.Group.Sales.BizModel.CustomerManage.SalesSellorderInfoDTO" queryUrl="../../Group/SalesSellorderInfo/GetPageList" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="OrderId">OrderNo,OrderTypeName,AgentName,SellName,PaymentTypeName,SapConsignmentOrderDate</Fields>
          <OrderFields>OrderNo</OrderFields>
          <HiddenFields>OrderId</HiddenFields>
        </Table>
      </Tables>
      <Script>
        <![CDATA[
          <script type="text/javascript">
            function rowCilck(obj){
              $(obj).find(":radio").attr("checked", "checked");
            }
          </script>
        ]]>
      </Script>
    </Page>
    <Page name="SelectContractListByRollOver" desc="展期申请选择融资合同">
      <SearchControls assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO">
        <Row>
          <Column>
            <SearchControl propertyInfoName="ContractNo" controlType="text" />
          </Column>
          <Column>
            <SearchControl propertyInfoName="LenderName" controlType="text" />
          </Column>
        </Row>
      </SearchControls>
      <Tables>
        <Table name="tblContract" assemblyName="SANY.DMS.Group.Finance.BizModel" typeName="SANY.DMS.Group.Finance.BizModel.MidLoan.FinanceContractDTO" queryUrl="../../Group/FinanceRollover/GetContractPageList" isSingleSelect="true" rowClick="rowCilck(this);">
          <Fields key="ContractId">ContractNo,FproductName,LenderName,LenderIdno,ProvinceName,PeriodBankName,PeriodSubbankName,SubbankAddress,PeriodAcctNo,TotalExceedNum</Fields>
          <OrderFields>ContractNo,FproductName,LenderName,LenderIdno,ProvinceName,PeriodBankName,PeriodSubbankName,PeriodAcctNo,TotalExceedNum</OrderFields>
          <HiddenFields>ContractId,PeriodBankCode,PeriodSubbankCode,TotalPlusAmt,CurPlusAmt,TotalExceedNum,CurExceedAmt</HiddenFields>
        </Table>
      </Tables>
    </Page>
  </Pages>
</configuration>
