@{
    ViewBag.Title = "SearchSaleProduct";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
 <fieldset style="margin: 0px 0px 2px 0px; border: 1px solid #999">
        <legend>查询条件</legend>
        <table id="tab" class="xstable" border="0">
            <tr>
                <th>
                    <select id="type" name="type" class="easyui-combobox" editable="false" style="width: 140px" panelheight="auto">
                        <option value='SKU'>商品编码</option>
                        <option value='ProductName'>商品名称</option>
                        <option value='BarCode'>商品条码</option>
                    </select>
                </th>
                <td>
                    <input type="text" name="productCode" id="productCode" >
                </td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="loadgrid()">查询</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-back" onclick="$('#productCode').val('');">清空</a>
                </td>
            </tr>
        </table>
    </fieldset>

<div id="grid"></div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/saleback/searchSaleProduct.js")" type="text/javascript"></script>
}
