@{
    ViewBag.Title = "芙蓉兴盛ERP管理系统";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div id="grid"></div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/sysParams/sysParamsList.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {

            var vartoolbar = [{
                    id: 'btnReload',
                    text: '刷新',
                    iconCls: 'icon-reload',
                    handler: function() {
                        $("#grid").datagrid("reload");
                    }
                },
                @if (Authorize(520119, 52011901))
                {
                    <text>
                               {
                                   id: 'btnEdit',
                                   text: '编辑',
                                   iconCls: 'icon-edit',
                                   handler: edit
                               }
                    </text>   
                }
            ];

            initGrid(vartoolbar);

            //grid高度改变
            gridresize();
        });
    </script>
}