@model Frxs.Erp.WarehouseManagementSystem.WebUI.Models.SysParamModel
@{
    ViewBag.Title = "参数设置";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<form id="formAdd">
    <fieldset style="margin: 0px 0px 2px 0px; border: 1px solid #999">
        <legend>参数设置</legend>
        <table id="tab" class="xstable">
            <tr>
                <td>参数名称：</td>
                <th>
                    @Html.HiddenFor(o => o.ParamCode)
                    @Html.TextBoxFor(o => o.ParamName, new {  @style = "width:145px;", disabled = "disabled" })
                </th>
            </tr>
            <tr>
                <td>参数值：</td>
                <th>
                    @Html.TextBoxFor(o => o.ParamValue, new { @class = "easyui-validatebox", @required = "true", @style = "width:145px;" }) </th>
            </tr>
        </table>
    </fieldset>
</form>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/sysParams/sysParamsUpdate.js")" type="text/javascript"></script>
}
