@{
    ViewBag.Title = "日结详细";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<form id="searchForm">
<fieldset style="margin:0px 0px 5px 0px; border: 1px solid #95B8E7">
    <legend style="color:#416AB7; font-weight:bold">信息查询</legend>
    <table id="tab" class="xstable" border="0">
        <tr>
            <td>商品编码：</td>
            <th>
                <input type="text" name="SKU" id="SKU"/>
            </th>
            <td>
                商品名称：
            </td>
            <th>
                <input type="text" id="ProductName" name="ProductName"/>
            </th>
            <td>
                <input type="button" id="aSearch" class="aSearch" onclick="search()" value="查询"><input id="aReset" type="button" class="reset" value="重置"></td>
        </tr>
    </table>
</fieldset>
</form>
<div id="grid"></div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/daySettlement/daySettlementDetail.js")" type="text/javascript"></script>
}