@{
    ViewBag.Title = "AgainApply";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<form id="searchForm">
<fieldset style="margin:0px 0px 5px 0px; border: 1px solid #95B8E7">
    <legend style="color:#416AB7; font-weight:bold">信息查询</legend>
    <table id="tab" class="xstable" border="0">
        <tr>
            <td>返配单号：</td>
            <th><input type="text" id="AppID" class="onlymath" name="AdjID"></th>
            <th>开单时间：</th>
            <th>
                <input onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm',maxDate:'#F{$dp.$D(\'AppDateEnd\')}'})" class="Wdate" name="AppDateStart" id="AppDateStart" />
                至
                <input onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm',minDate:'#F{$dp.$D(\'AppDateStart\')}'})" class="Wdate" name="AppDateEnd" id="AppDateEnd" />
            </th>
            <th>
               仓库：
                <select name="Status" id="WID" class="easyui-combobox" panelheight="auto" editable="false" style="width:170px"></select>
            </th>
        </tr>
        <tr>
            <td>单据状态：</td>
            <th>
                <select name="Status" id="Status" class="easyui-combobox" panelheight="auto" editable="false" style="width:140px">
                    <option value="">-请选择-</option>
                    <option value="0">录单</option>
                    <option value="1">确认</option>
                    <option value="2">过账</option>
                </select>
            </th>
            
            <td>过帐时间：</td>
            <th>
                <input onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm',maxDate:'#F{$dp.$D(\'PostingTimeEnd\')}'})" class="Wdate" name="PostingTimeStart" id="PostingTimeStart" />
                至
                <input onfocus="WdatePicker({dateFmt:'yyyy-M-d HH:mm',minDate:'#F{$dp.$D(\'PostingTimeStart\')}'})" class="Wdate" name="PostingTimeEnd" id="PostingTimeEnd" />
            </th>
            <td>
                <input type="button" id="aSearch" class="aSearch" value="查询"><input id="aReset" type="button" class="reset" value="重置"></td>
        </tr>
    </table>
</fieldset>
</form>
<div id="grid"></div>
@section scripts
{
    <script type="text/javascript">
        //工具栏
        var toolbarArray = new Array();
        //权限配置初始化
        $(function () {
            //刷新
            toolbarArray.push({ id: 'btnReload', text: '刷新', iconCls: 'icon-reload', handler: function () { $("#grid").datagrid("reload"); } });
            //添加
            @if (Authorize(520513, 52051301))
            {
                @:toolbarArray.push({ id: 'btnAdd', text: '添加', iconCls: 'icon-add', handler: add });
            }
           
            //删除
            @if (Authorize(520513, 52051303))
            {
                @:toolbarArray.push({ id: 'btnDel', text: '删除', iconCls: 'icon-remove', handler: del });
                        }
            //查看
            toolbarArray.push({ id: 'btnLook', text: '查看', iconCls: 'icon-search', handler: look });
            //确认
            @if (Authorize(520513, 52051304))
            {
                @:toolbarArray.push({ id: 'btnSure', text: '确认', iconCls: 'icon-ok', handler: confirmOrder });
                        }
            //反确认
            @if (Authorize(520513, 52051306))
            {
                @:toolbarArray.push({ id: 'btnNoSure', text: '反确认', iconCls: 'icon-upf', handler: noConfirmOrder });
            }
            //过账
            @if (Authorize(520513, 52051305))
            {
                @:toolbarArray.push({ id: 'btnPost', text: '过账', iconCls: 'icon-cut', handler: goEffect });
                        }
          

            //grid绑定
            initGrid();

        });
    </script>
    <script src="@Url.Content("~/Scripts/bussiness/again/againApply.js")" type="text/javascript"></script>
}