@{
    ViewBag.Title = "芙蓉兴盛ERP管理系统";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div id="grid"></div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/vendorType/vendorTypeList.js")" type="text/javascript"></script>
}