@{
    ViewBag.Title = "新增供应商类型";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<form id="formAdd">
    <fieldset style="margin: 0px 0px 2px 0px; border: 1px solid #999">
        <legend>新增供应商类型</legend>
        <table id="tab" class="xstable">
            <tr>
                <td>供应商类型名称：</td>
                <th>
                    <input type="hidden" name="VendorTypeID" id="VendorTypeID"/>
                    <input type="text" name="VendorTypeName" id="VendorTypeName" style="width: 200px" panelheight="auto" class="easyui-validatebox" required="true" data-options="validType:['chineseLength[20]','trim']"/>
                </th>
            </tr>
        </table>
    </fieldset>
</form>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/vendorType/vendorTypeAddOrEdit.js")" type="text/javascript"></script>
}

