@{
    ViewBag.Title = "芙蓉兴盛ERP管理系统";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        <div id="grid"></div>
    </div>
</body>
</html>
@section scripts
{
    <script src="@Url.Content("~/Scripts/bussiness/wProductsBuyEmp/wProductsBuyEmpSet.js")" type="text/javascript"></script>
}
